@import 'utils';

.page-template {
    position: relative;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width:500px;
    background:white;
    padding:1rem;
    box-sizing: border-box;

    box-shadow:  0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    @media(max-width: 768px) {
        margin-tpo: 1rem;
        width: calc(100% - 2rem);
    }
    .page-completion {
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background:rgba(0,0,0, 0.4);
        z-index:1;
        color:white;
        font-size:2rem;
        font-weight:bold;
        text-align:center;
        padding-top:1rem;
        cursor:pointer;
    }
    h1 {
        text-align: left;
        font-size: 2rem;
        font-weight: 100;
        margin: 0;
        color:$oc-violet-9;
    }
    h3 {
        text-align: left;
        font-size: 1.5rem;
        font-weight: 100;
        margin: 0;
        color:$oc-violet-9;
    }
    .cardDate {
        position:absolute;
        font-size: 1.5rem;
        font-weight: 100;
        top:63px;
        right:20px;
        color:$oc-violet-9;
    }
    .content {
        margin-top: 2rem;
    }
    .down-icon {
        position:absolute;
        right:20px;
        top:20px;
        cursor:pointer;
    }
    .sub-content {
        width:100%;
        height:0px;
        box-sizing: border-box;
        -webkit-transition: 0.5s all;
        -moz-transition:0.5s all;
        transition: 0.5s all;
        overflow:hidden;
    }
    .on-subContent {
        padding:2rem 0;
        height:auto;
    }
    .sub-content-wrap {
        position: relative;
        width:100%;
        overflow:hidden;
        box-sizing:border-box;
        height:auto;
        table {
            position: relative;
            font-size: 1.1rem;
            width:100%;
            font-weight: 100;
            border-collapse: collapse;
            text-align:center;
        }
        th {
            border-bottom:1px solid $oc-violet-4;
            padding:0.5rem;
            font-weight: 400;
            color: $oc-violet-4;
        }
        
        
    }
    .saveAndDel {
        position: relative;
        width:100%;
        margin-top:2rem;
        display: flex;
        .save-button {
            width: 5rem;
            height: 2rem;
            margin-left: 1rem;
            border:  1px solid $oc-violet-7;
            color: $oc-violet-7;
            font-weight:400;
            font-size: 1.1rem;
            display: flex;
            align-items: center;
            border-radius:5px;
            justify-content: center;
            cursor: pointer;
            margin: 0 auto;
            &:hover {
                background: $oc-violet-7;
                color: white;
            }
            &:active {
                background: $oc-violet-8;
            }
        }
        .del-button {
            width: 5rem;
            height: 2rem;
            margin-left: 1rem;
            border:  1px solid $oc-violet-7;
            color: $oc-violet-7;
            font-weight:400;
            font-size: 1.1rem;
            display: flex;
            align-items: center;
            border-radius:5px;
            justify-content: center;
            cursor: pointer;
            margin: 0 auto;
            &:hover {
                background: $oc-violet-7;
                color: white;
            }
            &:active {
                background: $oc-violet-8;
            }
        }
    }
}
