@import 'utils';

.createBy {
    position: relative;
    width:100%;
    text-align:center;
    margin-top: 1em;
    font-weight: 200;
    color: $oc-violet-4;
    font-size:0.8em;
    span {
        font-size:1.2em;
        font-weight: bold;
    }
    u {
        cursor:pointer;
    }
}